@CHARSET "windows-1255";

<<<<<<< HEAD


h1 {
	margin-left: 25% !important;
	margin-top: 8% !important; 
	color: black !important;
	display: block !important;
}




button {
	margin-top: 2% !important;
	margin-left: 26% !important;
	display: block !important;
}



=======
#top {
	margin-left: 25%;
}

h1 {
	margin-top: 5%;
	text-shadow: 3%;
	text-shadow: 0.1em 0.1em beige;
}
>>>>>>> 3cb5511035444d69eb0411c331dffc42e8ea6a40
