@CHARSET "windows-1255";



h1 {
	margin-left: 25% !important;
	margin-top: 8% !important; 
	color: black !important;
	display: block !important;
}




button {
	margin-top: 2% !important;
	margin-left: 26% !important;
	display: block !important;
}



