<style>
div.ui-datepicker {
	font-size: 10px;
}

#content {
	margin-left: 25%;
}

h1 {
	border-bottom: 1px solid black;
	text-align: center;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
}

#statistics {
	
}

#deleteButton,#addButton,#customize,#updateButton,#resetButton{
	background: #333;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	border: 1px solid black;
	color: #C2BDBD;
	border-radius: 4px;
	
}

#deleteButton:hover,#addButton:hover,#customize:hover,#updateButton:hover,#resetButton:hover  {
	
	color: white;
}

.markRed {
	text-decoration: underline;
	color: red;
	font-weight: bolder;
}

.tdElement {
	text-align: center;
}

.tdCheck {
	padding-left: 2.2em;
}

#popupform , #customizeForm {
	position: absolute;
	top: 100px;
	z-index: 5;
	background: rgb(243, 232, 233);
	width: 250px;
	padding: 30px;
	border: 1px solid black;
	display: none;
}

#closeForm {
	margin-left: 100px;
}

#weeklyReport {
	margin-top: 20px;
}

table {
	width: 600px;
}

#buttonVisits {
	margin-left: 100px;
	cursor: pointer;
}

#buttonDurations {
	margin-left: 260px;
	cursor: pointer;
}

#colon {
position: absolute;
color: red;
font-size: 20px;
left: 123px;
top: 177px;
font-weight: bold;
}

textarea,#formTimeLimitHours,#formTimeLimitMinutes {
	cursor: pointer;
	width: 35px !important;
	margin-left: 30px !important;
}

#message {
	width: 200px !important;
	margin: 0 auto !important;
}

.firstCells {
	font-size: 25px;
	color: rgb(65, 50, 50);
	text-align: center;
	padding: 8px;
}

/* css for timepicker */
</style>